name: Check building and linting

on:
  push:
    branches: [ "**" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "**" ]

jobs:
  eslint:
    name: Run ESLint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Set up NodeJS LTS
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm i
      - name: Run ESLint
        run: npm run lint
  build:
    name: Detect changes
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Set up NodeJS LTS
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm i
      - name: Build
        run: npm run build
      - name: Detect changes are applied
        run: |
          ! git diff --stat | grep -E " [A-Za-z0-9-]+\.user\.js"
        shell: bash
    needs: [eslint]